.btn-new {
  background-color: #FF6551;
}
.head {
  height: 807px;
  background-size:cover;
  background-image: url("C:/Users/Анна/Desktop/ПРОГРАММА ПГУ/практики/Практика 4/project/img/background_sec.png")
}
