<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
#content {
position: absolute;
left: 200px;
top: 100px;
border: 1px solid green;
}
</style>
</head>
<body>
<div id="content">
<p>Некоторый текст для проверки размещения элемента.
</p></div>
</body>
</html>
