.p1 {
  font-size:2em;
  color: rgba(0, 0, 230, 0.5);
  font-weight: bold;
  /* padding-left: 50%; */
  /* width:50%; */
  /* margin-left: 55%; */
  /* text-align: center; */
}
.p2 {
  font-size:12px;
  color: green;
  position: absolute;
}

#p1 {
  font-size:25px;
  color: purple;
}

div a {
  color: PaleGreen;
}

a:hover {
  /* font-weight: bold; */
  color: red;
  transition: 5s;
}

a {
  transition: 5s;
}
