.headerBg {
  background-image: url("C:/Users/Анна/Desktop/ПРОГРАММА ПГУ/практики/Практика 4/project/img/background_sec.png");
  background-size: cover;
  height: 800px;
  width: 100%;
  background-position: center;
}

.row{
  vertical-align: middle;
}

.container {
  width: 1440px;
}
